<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="https://beanhtml-1.bakedbeanlol.repl.co/favicon/apple-touch-icon.png"> <!-- favicon things -->
    <link rel="icon" type="image/png" sizes="32x32" href="https://beanhtml-1.bakedbeanlol.repl.co/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://beanhtml-1.bakedbeanlol.repl.co/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://beanhtml-1.bakedbeanlol.repl.co/favicon/site.webmanifest"> <!-- Adding a title tab icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <title>LPHS Gaming Club</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="https://beanhtml-1.bakedbeanlol.repl.co/download.png" width="30" height="30" class="d-inline-block align-top" alt="">
        LPHS Gaming Club
      </a>
    </nav>
    <div class="container">
<br>
        <h1>Thanks for Signing Up!</h1>
<br>
        <h5>Click <a href="https://www.discord.gg/JkMgS5q">Here</a> to Join our discord server! </h5>
<br>
        <h5>Or Click <a href="https://beanhtml-1.bakedbeanlol.repl.co/minecraft.html">Here</a> to Join the Minecraft Server!</h5>
<br>
    <button class="btn btn-outline-primary"><a href="https://beanhtml-1.bakedbeanlol.repl.co/">Go Back</a></button>

  </div>
  </body>
</html>